__pycache__/
*.eggs/
*.egg-info/
build/
dist/
.coverage
.tox/
htmlcov/

# Generated Sphinx documentation
doc/source/api/

# Configuration file added automatically by antidhooks/install.py
.clang-format
.pre-commit-config.yaml
.clang-tidy
.pylintrc
.eslintrc.json
.flake8
.csslintrc
.isort.cfg
